Project on CodeStorm Challenge: Solving and Explaining Complex Coding Problems

Problem 1:
SCORE BOARD OPERATOR

An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task. According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

wins: 3 points
draws: 1 point
losses: 0 points
Team London has played 8 matches in this tournament. They won 4 matches, lost 3 matches and drew 1. The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [ ]:
#initializing points variable
win_points = 3
loss_points = 0
draw_points = 1

#initializing matches played
matches_won = 4
matches_lost = 3
matches_drew = 1

#calculating team london points and displaying them
team_london_points = win_points*matches_won + loss_points*matches_lost + draw_points*matches_drew
print(team_london_points)

13

Problem 2:NUTRITION BAR INGREDIENT CHART

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains 45g of raisins, 65g of almonds, and 30g of apricots. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [ ]:
#initializing variables that store their quantity in grams
raisins = 45
almonds = 65
apricots = 30

#calculating the percentage
total = raisins + almonds + apricots
raisins_perc = (raisins/total)*100
almonds_perc = (almonds/total)*100
apricots_perc = (apricots/total)*100

print(raisins_perc)
print(almonds_perc)
print(apricots_perc)

32.142857142857146
46.42857142857143
21.428571428571427

Problem 3: SOLVING ALGEBRA

You must remember the algebraic equations and functions you came across during your school days. If you do, you also must remember how tedious it was to do solve them manually. ðŸ˜« Consider a quadratic function:

f(x)=x^2+3x-4

Find the value of f(x) at x =3 , x=-2, and x=4

Doing this manually like the old days would be a tedious job ðŸ˜ž. But now you have python at your disposal ðŸ™‚ ! How would you approach this problem using what you have learned?

In [ ]:
#initializing variable and then solving equation for x=3
x = 3
func_at_3 = x**2+3*x-4
print(func_at_3)

#initializing variable and then solving equation for x=-2
x = -2
func_at_minus2 = x**2+3*x-4
print(func_at_minus2)

#initializing variable and then solving equation for x=4
x = 4
func_at_4 = x**2+3*x-4
print(func_at_4)

#checking if the function calculated at different values is equal to zero or not
print(func_at_3 == 0)
print(func_at_minus2 == 0)
print(func_at_4 == 0)

14
-6
24
False
False
False

Problem 4:FINDING TOTAL E's IN THE BOOKSHELVES

In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. ðŸ˜€

Are you ready to accept the challenge?

In [ ]:
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

#counting the letter e and E in the books and also calculating their combined count
count_of_letter_e = books.count("e")
count_of_letter_E = books.count("E")
total_e_count = count_of_letter_e + count_of_letter_E

print(count_of_letter_e)
print(count_of_letter_E)
print(total_e_count)

7
1
8

Problem 5:UNLEASHING THE POWER OF MEAN IN EXAM ANALYSIS

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level!

In [ ]:
#taking the list of marks scored by students
marks = [67,87,75,46,89,97,68,98,87,88]

#calculating the mean
#we used the sum function which calculates the total of list of marks
#we used the len function which calculated the number of subjects for whom marks are given(we are calculating the number of observations)
average_marks_aka_mean = sum(marks)/len(marks)

print(average_marks_aka_mean)

80.2

Problem 6:JOHN's FRUIT STAND SALES MIX-UP


Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple'] ðŸ¤¦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [ ]:
fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']
#creating empty dictionary to store the respective fruits and their counts
fruit_dictionary = {}

#adding the respective fruits and their count to the empty dictionary with fruit name as key and their respective count as value
fruit_dictionary["Mango"] = fruit_list.count("Mango")
fruit_dictionary["Pineapple"] = fruit_list.count("Pineapple")
fruit_dictionary["Apple"] = fruit_list.count("Apple")
fruit_dictionary["Banana"] = fruit_list.count("Banana")

print(fruit_dictionary)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

Problem 7:Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.
Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']
You want to narrow down the list to the last 6 characters in the list. These characters are:

Namor
Doctor Strange
Wolverine
Captain America
Black Widow
Thor
Write a code to slice these characters from the list

In [ ]:
marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']
#slicing the last 6 characters in the marvel_words and printing them
marvel_top_6 = marvel_words[-1:-7:-1]
print(marvel_top_6)

['Namor', 'Doctor Strange', 'Wolverine', 'Captain America', 'Black Widow', 'Thor']

Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

In [ ]:
#initializing the varibale to store the characters at even index and odd index and printing both the teams
team_at_even_idx = marvel_words[0::2]
team_at_odd_idx = marvel_words[1::2]
print(team_at_even_idx)
print(team_at_odd_idx)

['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']
['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

In [ ]:
#storing the word spider-man in a variable and then slicing the word spider from that variable
spider_man = marvel_words[2]
word_spider = spider_man[:6:]
#printing the result
print(new_var)
print(word_spider)

Spider-Man
Spider

Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [ ]:
##storing the word iron-man in a variable and then reversing the word
iron_man = marvel_words[3]
reversed_iron_man = iron_man[::-1]
#printing the result
print(iron_man)
print(reversed_iron_man)

Iron Man
naM norI

Problem 8: Let's do some math!

ðŸ“ First up, let's calculate the area of a square with sides that measure 5 cm. ðŸ¤” How much space does this shape occupy?

ðŸ” Next, let's find the volume of a cube with sides that measure 12 cm. ðŸ“ How much room does this shape take up?

ðŸ”¢ Lastly, we'll find the quotient and remainder when we divide 10 by 4. ðŸ§ How many times does 4 fit into 10? What's left over?

In [ ]:
#initializing the sides 5cm in a variable and calculating the area
sides_of_square = 5
area = sides_of_square**2
print(area)

#initializing the sides 12cm in a variable and calculating the volume
sides_of_cube = 12
volume = sides_of_cube**3
print(volume)

#declaring the values in varibles 'a' and 'b'
a = 10
b = 4

#calculating the quotient and remainder
quotient = a//b
remainder = a%b

print(quotient)
print(remainder)

25
1728
2
2

Problem 9:Let's practice some comparison operators!

Here's a problem for you to solve:
ðŸŽ The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

Is the number of apples in the first basket greater than the number of apples in the second basket?

Is the number of apples in the second basket less than or equal to the number of apples in the first basket?

Is the number of apples in the first basket equal to the number of apples in the second basket?

Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck!

In [ ]:
#initializing the variables storing the apples in both baskets
basket1 = 12
basket2 = 8

#finding out if number of apples in the first basket greater than the number of apples in the second basket
print(basket1>basket2)
#finding out if number of apples in the second basket less than or equal to the number of apples in the first basket
print(basket2<=basket1)
#finding out if number of apples in the first basket equal to the number of apples in the second basket
print(basket1==basket2)
#finding out if number of apples in the second basket not equal to the number of apples in the first basket
print(basket2!=basket1)

True
True
False
True

Problem 10:Are you ready for your trip to Goa? ðŸŒŠ

 You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!
ðŸ§³ One of your bags weighs 15 kg, while the other one weighs only 5 kg. ðŸ’ª You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

ðŸ‘®â€â™€ï¸ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [ ]:
#declaring variables storing weight of bags in kg
bag1 = 15
bag2 = 5

#finding if both of bags weigh less than 13 kg each
if bag1<13 and bag2<13:
  print("Enjoy your trip!")
else:
  print("Sorry, You can not go through!")

Sorry, You can not go through!

 Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. ðŸ˜Š

ðŸ‘¨â€âœˆï¸ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. ðŸ›«

ðŸ¤” Are we ready for the trip or not? Let's use some logical operators to find out!

In [ ]:
#finding if one of the bag weigh less than 6kg
if bag1<6 or bag2<6:
  print("congratulations! you can board the flight")
else:
  print("sorry,you cannot go through")

congratulations! you can board the flight

Problem 11: Here is a string for you to work with:

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

1. Create a list containing the three sentences in the statement.

In [ ]:
#creating a variable my_list which contains the list of three sentences made froom the statement string.we used the split method of the string
statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."
my_list = statement.split(".")
print(my_list)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

2. The name 'anas' is spelled wrong. Replace it with 'Anas'.

In [ ]:
#replaced the word 'anas' with the 'Anas' using the replace method of the string operation in the statement string
statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."
statement = statement.replace("anas","Anas")
print(statement)

Anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

3. The title of the book is not written in the correct cases as well. Make corrections there.

In [ ]:
#replaced the title of the book  with the correct cases using the replace method of the string operation in the statement string
statement = statement.replace("the shawshank redemption","the shawshank redemption".title())
print(statement)

Anas eagerly recommended 'The Shawshank Redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

4. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation

In [ ]:
#replaced the 'The Shawshank Redemption' with the user suggested movie by accepting input from the user
user_input = input("Enter the new movie recommendation:")
statement = statement.replace("The Shawshank Redemption",user_input.title())
print(statement)

Enter the new movie recommendation:geostorm
Anas eagerly recommended 'Geostorm' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

Problem 12: A teacher has stored the names of his students in a tuple as follows:
('Adam','Alice','Ben','Bilal','Bharath')

Their role numbers are defined as their index number + 1.

Write a program which would take the name of the student as input and return their role number.

In [ ]:
student_tuple = ('Adam','Alice','Ben','Bilal','Bharath')
roll_num = 0
#accepting the input from the user
user_input = input("Enter the name of the student:")
#using if-else statement to checkk if the user defined input is availaible in student_tuple and if yes,then finding the roll number using the index method of
#tuple and storing the roll number in roll_num variable
if user_input in student_tuple:
  roll_num = student_tuple.index(user_input)+1
else:
  print("student name is not found")
#printing the roll number
print("The roll number of",user_input,"is",roll_num)

Enter the name of the student:Ben
The roll number of Ben is 3

Problem 13:
Imagine you are a fitness instructor who needs to evaluate if a client has reached their weight loss goal. The target weight loss goal is 10 pounds. If the client has lost at least 10 pounds, you should print the message "Congratulations, you have reached your weight loss goal!" However, if the client has lost less than 10 pounds, you should print "Sorry, you have not reached your weight loss goal yet. Keep up the good work!"

In [ ]:
#accepting the input from the client and storing it as float type
client_weight_loss = float(input("Enter the weight lost(in pounds):"))
#using the if statement to check if the weight lost is atleast 10 or not and printing the appropriate message as per the given condition
if client_weight_loss>=10:
  print("Congratulations, you have reached your weight loss goal!")
else:
  print("Sorry, you have not reached your weight loss goal yet. Keep up the good work!")

Enter the weight lost(in pounds):15
Congratulations, you have reached your weight loss goal!

Problem 14:Creating a shipping cost calculator!

You need to create a program that calculates the cost of shipping a package based on its weight and destination

Domestic shipping within the country :

Packages weighing up to 1 kg cost Rs.50 to ship.Each additional kg costs Rs.10 extra

International shipping to other countries :

Packages weighing up to 1 kg cost Rs.500 to ship.
Each additional kg costs Rs.100 extra. Ready to ship?

In [ ]:
#accepting the package weight and destination from the user and storing in the respective variable
package_weight = float(input("enter the weight of the package to be shipped(in kgs):"))
cost = 0
destination = input("enter the destination where package will be shipped(domestic or international):")
#checking if the package if to be shipped domestic and then calculating the cost
if destination == "domestic":
  if package_weight<=1:
    cost = 50
  elif package_weight>1:
    cost = 50 + (package_weight-1)*10
#checking if the package if to be shipped international and then calculating the cost
if destination == "international":
  if package_weight<=1:
    cost = 500
  elif package_weight>1:
    cost = 500 + (package_weight-1)*100
#printing the cost
print(cost)

enter the weight of the package to be shipped(in kgs):5
enter the destination where package will be shipped(domestic or international):international
900.0

Problem 15:
As a car dealership manager, you need to create a discount system for your customers based on the price of the car they want to buy. Here are the rules!

If the car price is less than Rs. 10,00,000, there is no discount.

If the car price is between Rs. 10,00,000 and Rs. 20,00,000, there is a discount of 5%.

If the car price is between Rs. 20,00,000 and Rs. 30,00,000, there is a discount of 7.5%.

If the car price is greater than Rs. 30,00,000, there is a discount of 10%.

Are you ready to make your customers happy with these discounts?

In [ ]:
#accepting the input from the user and calculating the discount as per the car price
car_price = int(input("enter the price of the car(in Rs.):"))
discount = 0
if car_price < 1000000:
  discount = 0
elif car_price > 1000000 and car_price < 2000000:
  discount = car_price*0.05
elif car_price > 2000000 and car_price < 3000000:
  discount = car_price*0.75
elif car_price > 3000000:
  discount = 0.10
#calculating the discounted price
discounted_price = car_price - discount
print(discounted_price)
print(discount)

enter the price of the car(in Rs.):1500000
1425000.0
75000.0

Problem 16:

Write a Python program that analyzes a list of names and sorts them into two categories: those that start with a vowel and those that start with a consonant.

In [ ]:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]
#creating two lists to store the names as per the ones that start with a vowel and consonant respectively
vowel_list = []
consonant_list = []
#using a for loop to iterate over names list and checking if the starting word is a vowel or consonant
for name in names:
  if name[0].lower() in "aeiou":
    vowel_list.append(name)
  else:
    consonant_list.append(name)

print(vowel_list)
print(consonant_list)

['Alice', 'Eve', 'Ivy', 'Olivia']
['Bob', 'Charlie', 'David', 'Peter']

Problem 17:

You are a teacher and you have a dictionary containing the grades of your students in a particular subject. The keys of the dictionary are the names of the students, and the values are their respective grades. You need to find the students who scored above 90% and print out their names.

In [ ]:
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}
#creating an empty list where we will store the names of the students who scored above 90
name_list = []
#using for loop to iterate over the dictionary items and checking who scored above 90 and adding that name to the list
for name,grade in grades.items():
  if grade>90:
    name_list.append(name)

print(name_list)

['Bob', 'David', 'Frank']

Problem 18:

You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.
List - numbers = [ [2, 5, 11, 20, 8], [9, 4, 15, 28, 17], [1, 6, 21, 18, 3], [10, 13, 25, 33, 30], [14, 7, 16, 19, 22] ]

In [ ]:
numbers = [[2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]]
#even_list will store even number and odd_list will store odd numbers
even_list = []
odd_list = []
#iterating over the numbers using the nested loop
#outer loop iterates over the sublist and inner loop iterates over the numbers inside the sublist
for sublist in numbers:
  for num in sublist:
    #adding the numbers to their respective list as per if they are even or odd
    if num%2 == 0:
      even_list.append(num)
    else:
      odd_list.append(num)
print(odd_list)
print(even_list)

[5, 11, 9, 15, 17, 1, 21, 3, 13, 25, 33, 7, 19]
[2, 20, 8, 4, 28, 6, 18, 10, 30, 14, 16, 22]

Problem 19:
Imagine you're organizing a chess tournament ðŸ†, where each player has to play against every other player. To achieve this, you can use nested loops in Python!

In [ ]:
players = ['Alice', 'Bob', 'Charlie', 'Diana']
#using nested loop to iterate over the players list two times and if player1 is equal to player2 then we are terminating the loop else organising the match
for player1 in players:
  for player2 in players:
    if player1==player2:
      break
    else:
      print(player1,"vs",player2)

Bob vs Alice
Charlie vs Alice
Charlie vs Bob
Diana vs Alice
Diana vs Bob
Diana vs Charlie

Problem 20:Building a Guessing Game

In this activity, you will build a simple guessing game using conditional looping in Python. The game will generate a random number between 1 and 100, and the user will have to guess the number within a certain number of tries. The program will provide hints to the user after each guess, telling them whether their guess is too high or too low.

In [ ]:
import random
#generating a randon number using the random module's randint method b/w 1 and 100
random_num = random.randint(1,100)

while True:
  num = int(input("enter the number:"))
  #checking if the number is greater than random number
  if num>random_num:
    print("number is too high")
  #checking if the number is greater than the random number
  elif num<random_num:
    print("number is too low")
  #if the guess is right then printing congratulations message and breaking out of the loop
  if num==random_num:
    print("congratulations,your guess is correct")
    break

enter the number:54
number is too high
enter the number:26
number is too high
enter the number:14
number is too high
enter the number:8
number is too high
enter the number:3
number is too high
enter the number:1
number is too low
enter the number:2
congratulations,your guess is correct

Problem 21:
You have two lists, one containing pizza toppings and the other containing burger toppings. You need to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name.

Can you write the code to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name using list comprehension only?

In [ ]:
pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']
#concatinating the two lists to create a list containing all the toppings fom both lists
new_list= pizza_toppings+burger_toppings
#using list comprehension creating a list which contains all the toppings having length more than 5
combined_toppings_list = [topping for topping in new_list if len(topping)>5]
print(combined_toppings_list)

['mushroom', 'tomato', 'pepperoni', 'garlic', 'lettuce', 'cheese', 'mayonnaise', 'pickle', 'avocado']

Problem 22:
Suppose you work for a company that sells products in different countries. You have been given two lists: one containing the names of the countries where the company sells its products, and the other containing the sales data for each country. Your task is to create a dictionary where the keys are the country names, and the values are the corresponding sales data. However, the sales data should only include values that are greater than 1000. You are not allowed to use any loops, and must use list comprehension to solve the problem.

Can you write the code to create the desired dictionary using list comprehension?

In [ ]:
countries = ["USA", "Canada", "Mexico", "Brazil", "UK", "France", "Germany", "China", "India"]
sales = [2500, 300, 1200, 800, 500, 2000, 4000, 1000, 1500]
#creating a dictionary using list comprehension
my_dict = {country:data for country,data in zip(countries,sales) if data>1000}
print(my_dict)

{'USA': 2500, 'Mexico': 1200, 'France': 2000, 'Germany': 4000, 'India': 1500}

Problem 23:
Suppose you are working for a company that deals with financial data. You have been given a list of dictionaries, where each dictionary contains the following information about a stock: name, ticker symbol, price, and percentage change in price. Your task is to create a new list of dictionaries, where each dictionary contains only the name and price of the stock, but only for those stocks where the price is greater than 100 and the percentage change is positive. You must use list comprehension to solve the problem.

Can you write the code to create the desired list of dictionaries using list comprehension?

In [ ]:
stocks = [
    {'name': 'Apple Inc.', 'ticker': 'AAPL', 'price': 120.0, 'change': 0.05},
    {'name': 'Microsoft Corporation', 'ticker': 'MSFT', 'price': 95.0, 'change': -0.02},
    {'name': 'Amazon.com, Inc.', 'ticker': 'AMZN', 'price': 250.0, 'change': 0.1},
    {'name': 'Alphabet Inc.', 'ticker': 'GOOGL', 'price': 110.0, 'change': 0.02},
    {'name': 'Facebook, Inc.', 'ticker': 'FB', 'price': 80.0, 'change': 0.03}
]
#creating a list of dictionaries using list comprehension
new_list = [{'name':item['name'],'price':item['price']} for item in stocks if item['price']>100 if item['change']>0]
print(new_list)

[{'name': 'Apple Inc.', 'price': 120.0}, {'name': 'Amazon.com, Inc.', 'price': 250.0}, {'name': 'Alphabet Inc.', 'price': 110.0}]

Problem 24:
You have a list of songs that you like to listen to, but you notice that some of the songs have duplicate names. You want to create a new set that contains the unique names of all the songs and keep the songs whose name doesn't start with "S" and doesn't end with "n" in your list using set comprehension.

Can you write the code to create a new set that contains the unique names of all the songs in your list using set comprehension only?

In [ ]:
songs = ['Bohemian Rhapsody', 'Stairway to Heaven', 'Bohemian Rhapsody', 'Hotel California', 'November Rain', 'Stairway to Heaven', 'Sweet Child O\' Mine']
#using set comprehension to create a set containing only the songs that doesn"t start with s and end with n.using if statement to check the condition
my_set = {song for song in songs if song[0].upper() != "S" and song[-1].upper() != "N"}
print(my_set)

{'Hotel California', 'Bohemian Rhapsody'}

Problem 25:
 In this activity, we will create a custom function in Python to build a calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division.

In [ ]:
#defining a function that does basic arithmetic operation like addition,subtraction,multiplication and division b/w two numbers
def calculator(num1,num2,operation):
  print("press + for addition,- for subtraction,* for multiplication,/ for division")

  if operation == "+":
    return num1+num2
  elif operation == "-":
    return num1-num2
  elif operation == "*":
    return num1*num2
  elif operation == "/":
    return num1/num2

  if operation not in ["+","-","*","/"]:
    print("Invalid operation")

In [ ]:
#storing the function call in result variable and printing the result
result = calculator(5,9,"*")
print(result)

press + for addition,- for subtraction,* for multiplication,4 for division
45

Problem 26:
In this activity, you will build a program that generates a Fibonacci sequence using conditional looping in Python. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding numbers. The sequence starts with 0 and 1, and the next number in the sequence is the sum of the previous two numbers.

In [ ]:
#accepting the user input as to what length of fibonacci sequence does he want
user_input = int(input("Enter the length of fib series : "))
#initialising fib list that will store the fibonacci series
fib = []
#as per the length adding the numbers using if else statement and conditional looping
if user_input == 1:
  fib = [0]
if user_input == 2:
  fib = [0,1]
else:
  fib = [0,1]
  idx = 2
  #using conditional looping to add sum of last two numbers to the list of fibnonacci series
  while idx < user_input:
    fib.append(fib[idx-1]+ fib[idx-2])
    idx+=1
print(fib)

Enter the length of fib series : 5
[0, 1, 1, 2, 3]

Problem 27:
You have been given a task to write a Python program that counts the number of times a specific digit appears in a range of numbers. You need to use a for loop to iterate over the range of numbers, and a while loop to check each digit in the number.

In [ ]:
#accepting the starting number,ending number and the digit to count from the user
start = int(input("enter the starting number:"))
end = int(input("enter the ending number:"))
digit = int(input("enter the digit:"))
#initialising the count variable that will store the digit count
count = 0
#using for loop to iterate over the range of numbers
for i in range(start,end+1):
  #typecasting to string to check if it exists in numbers
  if str(digit) in str(i):
    count+=1

print(count)

enter the starting number:100
enter the ending number:150
enter the digit:5
6

Problem 28:
Sum odd Numbers âž–
In this activity, you will create a custom function in Python that takes a list of integers as an argument and returns the sum of all odd numbers in the list.

In [ ]:
#defining a function by odd-sum that counts the sum of odd numbers in the list
def odd_sum(list_of_integers):
  total = 0
  for num in list_of_integers:
    if num%2 != 0:
      total += num
  return total

In [ ]:
#passing the list of integers as argument and calling the function whose output gets stored in result variable and finally printing the result
my_list = [1, 2, 3, 4, 5, 6]
result = odd_sum(my_list)
print(result)

9

Problem 29:
You and your friends are playing a board game where you roll a dice and move your game piece accordingly. However, you want to know the average number rolled by each player to see who's really the luckiest. Write a program that takes a list of rolls as input for each player and uses a for loop to calculate the average roll for each player. The winner gets bragging rights for being the luckiest!

In [ ]:
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
]
max_avg = 0
max_avg_person = 0

for i in range(0, len(player_rolls)):
  sublist = player_rolls[i]
  avg = sum(sublist)/len(sublist)
  # max_avg is what is the maximum average we have seen so far
  # if the new avg which is stored in avg is more than max avg then we should update
  if avg > max_avg:
    max_avg = avg
    max_avg_person = i
print(max_avg)
print(max_avg_person)

4.4
2

Problem 30:
Measuring the Accuracy of a Disease Detection Model- Optional
If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist, you'll be using what you've learned to design machine learning models that just might even save lives!!

Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history. The model has been tested on a dataset of 100 patients, including 30 with diabetes, 45 with heart disease, and 25 with cancer. The model's performance was evaluated in three rounds. In the first round, the model correctly detected diabetes in 25 out of the 30 patients with the disease. In the second round, the model correctly detected heart disease in 35 out of the 45 patients with the disease. In the final round, the model correctly detected cancer in 20 out of the 25 patients with the disease.

The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

Assess how accurate your model is across these 3 diseases.

In [ ]:
#initialising the variables which store the total number of patients for each disease
heart_disease = 45
cancer = 25
diabetes = 30
#initialising variables that store the correctly detected cases for each disease
c_dia = 25
c_heart = 35
c_cancer = 20
#calculating the accuracy for each disease
dia_acc = (c_dia/diabetes)*100
heart_acc = (c_heart/heart_disease)*100
cancer_acc = (c_cancer/cancer)*100

print(dia_acc , heart_acc , cancer_acc)

83.33333333333334 77.77777777777779 80.0

In [ ]:
#calculating the overall accuracy
overall = (c_dia + c_heart + c_cancer)/(heart_disease + diabetes + cancer) *100
print(overall)

80.0